* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body {
    background-color: #ccc;
}
h1 {
    text-align: center;
}
.container {
    position: relative;
    padding-right: 0px;
    padding-left: 0px;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
}
.hero {
    background-color: #ffff;
    margin-bottom: 20px;
}
.hero h1 {
    padding: 10px 0;
}
.hero img {
    margin: 0 auto;
    display: block;
    width: 50%;
    max-width: 100%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.hero .items {
    text-align: center;
    padding: 10px 0;
}
.hero a {
    text-align: center;
    text-decoration: none;
    font-size: 21px;
    color: #ffff;
    background-color: #013d29;
    padding: 10px; 
}
.hero a:hover {
    color: #000;
}
.hero .github-link {
    text-align: center;
}

